@import "bootstrap";
.site-header {
  background: white;
  &--wrapper {
    display: flex;
    height: 100px;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    @include breakpoint(medium down) {
      padding: 0 30px;
    }
  }
  &--logo {
    width: 200px;
    margin-right: 30px;
  }
  &--left {
    margin-right: auto;
  }
  &--right {

  }
  &--left > .menu, &--right > .menu {
    > ul {
      display: flex;
      margin: 0;
      list-style: none;
      > li {
        margin: 0 1rem;
        > a {
          font-size: 95%;
          color: #121212;
        }
      }
    }
  }
}
